{% extends 'base.html' %}

{% block content %}
<div class="search-bar">
    <form action="{% url 'dash:index' %}" method="get">
        <select name="inchikey">
            <option value="">Select InChIKey</option>
            {% for inchikey in inchikeys %}
                <option value="{{ inchikey }}" {% if inchikey == request.GET.inchikey %}selected{% endif %}>{{ inchikey }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>
</div>

<div class="dashboard">
    <div class="box">
        {% include 'dash/molecule_card.html' %}
    </div>
    <div class="box-container">
        <div class="box">
            {% include 'dash/admet_box.html' %}
        </div>
    </div>
</div>

<div class="box-container">

<div class="properties-box">
    {% include 'dash/molecule_properties.html' %}
</div>
<div class="properties-box">
    {% include 'dash/protein_target_predictions_box.html' %}
</div>
</div>

<div class="box-container">

    <div class="properties-box">
        {% include 'dash/superpred_target_predictions_box.html' %}
    </div>
    <div class="properties-box">
        {% include 'dash/superpred_indications_box.html' %}
    </div>
    </div>

<div class="box-container">

    <!-- <div class="properties-box">
        {% include 'dash/superpred_indications_box.html' %}
    </div> -->
        
        
    </div>

{% endblock %}

{% block extra_css %}
<style>
    .search-bar {
        background-color: #f8f9fa;
        padding: 10px;
        margin-bottom: 20px;
    }

    .search-bar input[type="text"] {
        padding: 6px;
        width: 300px;
    }

    .search-bar button {
        padding: 6px 12px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    .dashboard {
        display: grid;
        grid-template-columns: minmax(300px, 15%) 1fr;
        grid-gap: 20px;
    }
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
    }
    .box {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .box img {
        max-width: 100%;
        height: auto;
    }
    .properties-box {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }
    
    @media screen and (max-width: 768px) {
        .dashboard {
            grid-template-columns: 1fr;
        }
    }
</style>
{% endblock %}