<!-- dash/templates/dash/molecule_properties.html -->
<h3 class="text-lg font-bold mb-2">Properties</h3>
<div class="properties-grid">
    <div class="property-item">
        <div class="property-name w-48">Formula:</div>
        <div class="property-pill">C<sub>6</sub>H<sub>12</sub>O<sub>6</sub></div>
    </div>
    <div class="property-item">
        <div class="property-name w-48">Molecular Weight:</div>
        <div class="property-pill">180.16 g/mol</div>
    </div>
    <div class="property-item">
        <div class="property-name w-48">Melting Point:</div>
        <div class="property-pill">146°C</div>
    </div>
    <div class="property-item">
        <div class="property-name w-48">Boiling Point:</div>
        <div class="property-pill">decomposition</div>
    </div>
    <div class="property-item">
        <div class="property-name w-48">Solubility in Water:</div>
        <div class="property-pill">909 g/L at 25°C</div>
    </div>
    <div class="property-item">
        <div class="property-name w-48">Density:</div>
        <div class="property-pill">1.54 g/cm<sup>3</sup></div>
    </div>
</div>